# Игнорировать файлы виртуального окружения
venv/
.env/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать лог-файлы
*.log

# Игнорировать файлы временных данных
*.tmp
